<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title><%= title %> </title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      const token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");

      function updateTodo(id, completed) {
        fetch(`/todos/${id}`, {
          method: "PUT",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ _csrf: token, completed }),
        }).then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        });
      }

      function deleteTodo(id) {
        fetch(`/todos/${id}`, {
          method: "DELETE",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ _csrf: token }),
        }).then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        });
      }
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6 mt-5">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <a href="/signout">Sign out</a>
        <form action="/todos" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input
                type="text"
                name="title"
                placeholder="What's next?"
                class="border border-gray-300text-gray-900 w-full rounded p-2 text-sm"
                required
              />
            </div>
            <div class="flex-auto">
              <input
                type="date"
                name="dueDate"
                class="border border-gray-300text-gray-900 w-full rounded p-2 text-sm leading-4"
              />
            </div>
            <div class="flex-auto">
              <button
                type="submit"
                class="bg-green-600 text-white px-5 py-1.5 rounded font-meduim mr-2 mb-2"
              >
                Add
              </button>
            </div>
          </div>
        </form>
        <div>
          <%- include('todo.ejs', {title: "Overdue", todos: overdue}) %>
          <%- include('todo.ejs', {title: "Due Today", todos: dueToday}) %>
          <%- include('todo.ejs', {title: "Due Later", todos: dueLater}) %>
          <%- include('todo.ejs', {title: "Completed Items", todos: completed}) %>
        </div>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
